.wrapper{
    display: flex;
    align-items: center;
    background-color: blue;
    height: 100%;
    flex-direction:column;
}

.card-login{
    margin-top: 20%;

}

.form-login{
    display: flex;
    flex-direction: column;
}

.card-button{
    display: flex;
    justify-content: flex-end; 
    align-items: flex-end;
}