
<div class="wrapper">
    <mat-toolbar>
        <span>Login</span>
    </mat-toolbar>

    <div class="card-login">
        <mat-card>
            <mat-card-content>
                <form class="form-login">
                    <mat-form-field>
                    <mat-label>Login</mat-label>
                    <input matInput placeholder="Login" type="text" value="">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Senha</mat-label>
                        <input matInput placeholder="Senha" type="password" value="" >
                    </mat-form-field>
                </form>
              </mat-card-content>
              <mat-card-actions class="card-button">
                <button>Login</button>
              </mat-card-actions>
              
        </mat-card>
    </div>
</div>
